<div class="container">
  <div class="title-header">
    <h1>Fillings</h1>
    <div><%= link_to "Add a filling", new_sandwich_shop_path(@sandwich), class: "btn btn-blue" %></div>
  </div>
  <div class="cards">
    <% @sandwich.shops.each do |shop| %>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= shop.ingredient.image_url %>)">
        <%= shop.ingredient.name %>
      </div>
    <% end %>
  </div>
</div>
