<div class="cotainer-fluid">
  <h1><%= @sandwich.name %></h1>
  <% @sandwich.shops.each do |shop| %>
    <ul>
      <div><%= shop.ingredient.name %></div>
      <div><%= shop.ingredient.description %></div>
    </div>
  </ul>
<% end %>
<div><%= link_to "Add Ingredient", new_sandwich_shop_path(@sandwich), class: "btn btn-blue" %></div>
