<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <h1> PURE BREAD </h1>
  <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
    <li class="nav-item active">
      <%= link_to "Sandwiches", root_path, class: "nav-link" %>
    </li>
    <li class="nav-item active">
      <%= link_to "Ingredients", ingredients_path, class:"nav-link" %>
    </li>
  </ul>
  <form class="form-inline my-2 my-lg-0">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
  </form>
</nav>
