<div class="container">
  <div class="title-header">
    <h1>Fillings</h1>
  </div>
  <div class="container">
    <div class="cards">
      <% @ingredients.each do |ingredient| %>
        <%= link_to ingredient_path(ingredient) do %>
          <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= ingredient.image_url %>)">
            <%= ingredient.name %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
