<div class="container">
  <div class="d-flex justify-content-center">
    <h1>Fillings</h1>
  </div>
  <div class="cards">
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title"><%= @ingredient.shops.sandwich.name %></h5>
      </div>
    </div>
  </div>
</div>
